<a href="https://colab.research.google.com/github/ggbaguidi/datascience_base_1/blob/main/quiz_2_openclassroom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [5]:
!wget https://course.oc-static.com/courses/7771531/Ressources+t%C3%A9l%C3%A9chargeables/notes.csv \

--2023-04-11 23:29:46--  https://course.oc-static.com/courses/7771531/Ressources+t%C3%A9l%C3%A9chargeables/notes.csv
Resolving course.oc-static.com (course.oc-static.com)... 104.18.16.188, 104.18.17.188, 2606:4700::6812:11bc, ...
Connecting to course.oc-static.com (course.oc-static.com)|104.18.16.188|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2673 (2.6K) [text/csv]
Saving to: ‘notes.csv.1’

notes.csv.1         100%[===================>]   2.61K  --.-KB/s    in 0s

2023-04-11 23:29:46 (34.4 MB/s) - ‘notes.csv.1’ saved [2673/2673]

--2023-04-11 23:29:46--  http://%5C/
Resolving \\ (\\)... failed: Name or service not known.
wget: unable to resolve host address ‘\\’
FINISHED --2023-04-11 23:29:46--
Total wall clock time: 0.3s
Downloaded: 1 files, 2.6K in 0s (34.4 MB/s)

In [8]:
%ls

notes.csv  sample_data/

In [10]:
data = pd.read_csv("notes.csv")
data.head()

                nom   matiere  note
0  Laurent Dagenais  Français    16
1        Guy Marois  Français    13
2   Beaufort Lesage  Français     8
3    Russell Durand  Français    10
4       Alexis Riel  Français    15

In [14]:
maths = data.loc[data['matiere'] == 'Mathématiques','note']
maths

21     7
22    17
23    15
24     5
25     5
26     7
27    12
28    18
29     6
30    16
31    19
32    19
33    10
34    13
35     6
36     9
37    13
38    11
39     6
40    13
41    11
Name: note, dtype: int64

In [15]:
moyenne_classe = round(maths.mean(),2)
moyenne_classe

11.33

In [17]:
data.groupby('nom')['note'].mean()

nom
Aceline Hughes        12.50
Agate Grandbois       14.25
Agramant Pepin        14.25
Agrican Foucault      11.50
Aiglentina Lambert     8.50
Alexis Riel            9.00
Amaury Reault          8.50
Beaufort Lesage       12.25
Byron Lefebvre        13.75
Dorothee Aupry        14.75
Florus Devoe          13.75
Gaston Brisette       13.50
Guy Marois            12.25
Laurent Dagenais      13.25
Leon Lapresse         12.25
Normand Arsenault     10.50
Orville Routhier       8.25
Prunella Josseaume    12.50
Russell Durand         8.50
Theodore Clavet        9.50
Yseult Charest        11.50
Name: note, dtype: float64

In [18]:
notes = data
notes.loc[((notes['matiere'] == 'Mathématiques') | (notes['matiere'] == 'Physique/Chimie')) & (notes['note'] >= 15), 'nom']

22         Guy Marois
23    Beaufort Lesage
28     Agramant Pepin
30    Theodore Clavet
31     Byron Lefebvre
32       Florus Devoe
65    Beaufort Lesage
68      Leon Lapresse
70     Agramant Pepin
74       Florus Devoe
78    Agate Grandbois
81     Yseult Charest
82     Dorothee Aupry
Name: nom, dtype: object

In [19]:
!wget https://course.oc-static.com/courses/7771531/Ressources+t%C3%A9l%C3%A9chargeables/notes_sup.csv
data2 = pd.read_csv("notes_sup.csv")
data2.head()

--2023-04-11 23:41:34--  https://course.oc-static.com/courses/7771531/Ressources+t%C3%A9l%C3%A9chargeables/notes_sup.csv
Resolving course.oc-static.com (course.oc-static.com)... 104.18.16.188, 104.18.17.188, 2606:4700::6812:11bc, ...
Connecting to course.oc-static.com (course.oc-static.com)|104.18.16.188|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1434 (1.4K) [text/csv]
Saving to: ‘notes_sup.csv’

notes_sup.csv       100%[===================>]   1.40K  --.-KB/s    in 0s

2023-04-11 23:41:35 (17.6 MB/s) - ‘notes_sup.csv’ saved [1434/1434]

                nom              matiere  note
0  Laurent Dagenais  Histoire/Géographie    18
1        Guy Marois  Histoire/Géographie    13
2   Beaufort Lesage  Histoire/Géographie     8
3    Russell Durand  Histoire/Géographie    19
4       Alexis Riel  Histoire/Géographie    20

In [21]:
all_data = pd.concat([data, data2])
all_data.head()

                nom   matiere  note
0  Laurent Dagenais  Français    16
1        Guy Marois  Français    13
2   Beaufort Lesage  Français     8
3    Russell Durand  Français    10
4       Alexis Riel  Français    15

In [22]:
all_data.pivot_table(index='nom', columns='matiere', values='note')

matiere,Anglais,Biologie,Français,Histoire/Géographie,Mathématiques,Physique/Chimie
nom,,,,,,
Aceline Hughes,18,15,12,12,13,10
Agate Grandbois,17,19,12,9,9,17
Agramant Pepin,10,6,17,20,18,16
Agrican Foucault,10,14,10,14,13,9
Aiglentina Lambert,7,7,16,15,6,5
Alexis Riel,13,5,15,20,5,11
Amaury Reault,12,7,8,18,11,8
Beaufort Lesage,12,8,8,8,15,18
Byron Lefebvre,12,15,13,15,19,8
Dorothee Aupry,11,16,13,20,13,17
Florus Devoe,12,11,10,14,19,15
Gaston Brisette,7,17,19,8,6,12
Guy Marois,11,8,13,13,17,11
Laurent Dagenais,7,17,16,18,7,13
Leon Lapresse,13,8,17,18,7,17
Normand Arsenault,19,6,17,10,10,9
Orville Routhier,7,6,6,20,12,9
Prunella Josseaume,20,14,19,9,11,6
Russell Durand,17,12,10,19,5,7
Theodore Clavet,19,6,8,8,16,8
Yseult Charest,7,13,11,7,6,16

In [23]:
!wget https://course.oc-static.com/courses/7771531/Ressources+t%C3%A9l%C3%A9chargeables/csv_P2_quizz.zip

--2023-04-11 23:45:32--  https://course.oc-static.com/courses/7771531/Ressources+t%C3%A9l%C3%A9chargeables/csv_P2_quizz.zip
Resolving course.oc-static.com (course.oc-static.com)... 104.18.16.188, 104.18.17.188, 2606:4700::6812:11bc, ...
Connecting to course.oc-static.com (course.oc-static.com)|104.18.16.188|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2750 (2.7K) [application/zip]
Saving to: ‘csv_P2_quizz.zip’

csv_P2_quizz.zip    100%[===================>]   2.69K  --.-KB/s    in 0s

2023-04-11 23:45:33 (14.0 MB/s) - ‘csv_P2_quizz.zip’ saved [2750/2750]

In [24]:
import zipfile
zip_file = zipfile.ZipFile("csv_P2_quizz.zip", 'r')
zip_file.extractall()
%ls

commande.csv      notes.csv      produits.csv
csv_P2_quizz.zip  notes_sup.csv  sample_data/

In [25]:
commande = pd.read_csv("commande.csv")
produits = pd.read_csv("produits.csv")

In [26]:
commande.head()

   id  nombre
0  70       2
1  41       4
2  72       2
3  92       8
4  73       1

In [28]:
produits.head()

   id  prix
0   0  24.8
1   1  13.1
2   2  23.7
3   3  16.0
4   4  19.0

In [29]:
commande = pd.read_csv('commande.csv')
produits = pd.read_csv('produits.csv')
data = pd.merge(commande, produits, on='id', how='inner')
data['CA'] = data['nombre'] * data['prix']
data_grouped = data.groupby('id').sum()

In [30]:
data_grouped.sort_values('nombre', ascending=False).head()

    nombre   prix      CA
id
8      103  435.2  2636.8
35      98  224.0  1568.0
65      96  420.8  2524.8
84      91  198.0  1201.2
30      89  423.3  2216.1

In [31]:
data_grouped.sort_values('CA', ascending=True).head()

    nombre  prix     CA
id
58       6  95.2  142.8
92      20  37.0  148.0
63      22  42.5  187.0
29      21  54.0  226.8
62      20  52.0  260.0